.password-field-wrapper {
  position: relative;
  display: flex;

  width: 100%;

  margin-top: 50px;
}

.password-field input {
  padding-right: 75px;
}

.sign-in-button {
  align-self: flex-end;

  margin-top: 50px;
}

.error-message-block {
  margin-top: 25px;
}