html,
body {
  min-width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  background-image: url("../../public/images/root-bg-01.png");
  background-size: cover;
  background-position: top center;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --white: #ffffff;
  --black: #000000;

  --black-light: #161516;
  --black-lighter: #3b383b;
  --gray-light: #BDBCBD;
  --gray-lighter: #CED4DA;
  --gray-lighter-secondary: #e8eef5;

  --orange: #FF9B73;
  --yellow: #FFC972;
  --purple: #B692FE;
  --blue: #01D4FE;
  --lime: #E4EE90;
  --gold: #FDCB04;

  --poppins: "Poppins", sans-serif;
  --bungee-shade: "Bungee Shade", cursive;

  --box-shadow-small: 1px 1px 1px 0 rgba(0, 0, 0, 0.50);
  --box-shadow-medium: 4px 4px 4px 0 rgba(0, 0, 0, 0.50);

  --button-focus: 5px solid rgb(100, 231, 231);
}