.root {
  display: flex;
  flex-direction: column;

  width: 150px;

  padding: 35px;

  background-color: var(--white);

  border-radius: 50px;
  box-shadow: var(--box-shadow-medium);
}

.word {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;

  font-family: var(--bungee-shade);
  font-size: 74px;
  line-height: 84px;

  color: var(--black-light);
}

.word:nth-child(1n+2) {
  margin-top: 50px;
}