.root {
  position: relative;
  display: flex;
  justify-content: center;

  padding: 15px 25px;

  font-family: var(--poppins);
  font-size: 36px;
  line-height: 36px;
  font-weight: 600;

  color: var(--black-light);

  border: none;
  background-color: transparent;
  border-radius: 50px;

  cursor: pointer;

  transition: all 50ms ease-in;
  transition-delay: 150ms;
}

.root:disabled {
  cursor: default;
}

.active {
  position: relative;
  z-index: 2;

  color: var(--white);

  transition: all 50ms ease-in;
  transition-delay: 150ms;
}

.active-bar {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: var(--black-light);

  border-radius: 50px;
}