.root {
  display: flex;
  flex-direction: column;

  min-width: 300px;
  height: 300px;

  padding: 15px;

  box-shadow: var(--box-shadow-small);
  border-radius: 25px;
}

.root-orange {
  background-color: var(--orange);
}

.root-yellow {
  background-color: var(--yellow);
}

.root-purple {
  background-color: var(--purple);
}

.root-blue {
  background-color: var(--blue);
}

.root-lime {
  background-color: var(--lime);
}

.root-orange:hover {
  background-color: var(--orange-hover);
}

.root-yellow:hover {
  background-color: var(--yellow-hover);
}

.root-purple:hover {
  background-color: var(--purple-hover);
}

.root-blue:hover {
  background-color: var(--blue-hover);
}

.root-lime:hover {
  background-color: var(--lime-hover);
}

.root-edited-mode {
  opacity: 0.5;
}

.note-container {
  max-height: 200px;
}

.note {
  font-family: var(--poppins);
  font-size: 18px;
  line-height: 20px;
}

.note-textarea {
  width: 100%;
  height: calc(300px - 25px * 4);

  font-family: var(--poppins);
  font-size: 18px;
  line-height: 20px;

  border: none;
  background-color: transparent;
  resize: none;
}

.note-footer {
  display: flex;
  flex-direction: row;
  align-items: center;

  margin-top: auto;
}

.note-created-date {
  font-family: var(--poppins);
  font-size: 16px;
  line-height: 16px;
}

.note-buttons {
  display: flex;
  flex-direction: row;
  margin-left: auto;
}

.note-button {
  margin-right: 10px;
  padding: 10px;
}

.note-button-edit {
  margin-right: 0px;
}